@charset "UTF-8";
*{
    
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: linear-gradient(to left,#70838B,#9BB4C0);
}
p{
    text-align: justify;
}
main{
    background-color: white;
    width: 600px;
    padding: 10px;
    margin:auto;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #213741;
}
h1{
    color: #213741;
    text-align: center;
    text-shadow: 1px 1px 2px #213741;
}
h2{
    color: #3B6274 ;
}